@font-face {
    font-family: 'OswaldBold';
    src: url('../fonts/Oswald-Bold-webfont.eot');
    src: url('../fonts/Oswald-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Oswald-Bold-webfont.woff') format('woff'),
         url('../fonts/Oswald-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Oswald-Bold-webfont.svg#OswaldBold') format('svg');
    font-weight: normal;
    font-style: normal;
    }

.memberName{
	color:#009800;
	font-family: OswaldBold;
	font-size: 2.3em;
	text-align: left;
}

.memberPosition{
	color:#005e00;
	font-family: Lucida Grande, Verdana;
	font-size: 1.3em;
	text-align: left;
}

a,
.memberTwitter{
	color:#005e00;
	font-family: Lucida Grande, Verdana;
	font-size: 0.8em;
	font-style: oblique;
	text-align: left;
	text-decoration: none;
}

a:hover{
	color:#009800;
	font-family: Lucida Grande, Verdana;
	font-size: 0.8em;
	font-style: oblique;
	text-align: left;
	text-decoration: underline;	
}
.memberSectionTitle{
	border-bottom:2px dotted #d4d4d4;
	color:#005e00;	
	font-family:Lucida Grande, Verdana;
	font-size:14px;
	font-weight:bold;
	height:20px;
	text-align: left;
	width:150px;	
}

.memberSectionContent{
	color:#666;	
	font-family:Lucida Grande, Verdana;
	font-size:12px;	
	margin-top: 5px;
	text-align: justify;
}