/* 
    Document   : estilos
    Created on : 22/09/2012, 08:35:17 PM
    Author     : Israel
    Description:
        Estilos generales del sitio.
*/

root { 
    display: block;
}

#resultados{    
    width: 400px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: Calibri,Arial,Helvetica,sans-serif;
    font-size: 1em;
    color: #ff6600;
    margin: 10px;
    background: rgb(233,233,206); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(233,233,206,1) 0%, rgba(252,255,244,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(233,233,206,1)), color-stop(100%,rgba(252,255,244,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(233,233,206,1) 0%,rgba(252,255,244,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(233,233,206,1) 0%,rgba(252,255,244,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(233,233,206,1) 0%,rgba(252,255,244,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(233,233,206,1) 0%,rgba(252,255,244,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9ce', endColorstr='#fcfff4',GradientType=0 ); /* IE6-9 */
    box-shadow: 5px 5px 5px #e3eaed;
    padding-left: 10px;
}

#resultados h2{
    font-size: 1.5em;
    border-bottom: 1px solid #cd0a0a;
    padding-left: 5px;
}

