@charset "utf-8";
/* CSS Document */

body{
background-image:url(../imagenes/fondoVigila.jpg);
background-repeat:repeat;
}

.footer{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#333333;
}
.textos{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
color:#333333;
}

.enlacesGrandes{
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#990000;
font-size:16px;
font-weight:bold;
text-decoration:none;
}

.enlacesGrandes:hover{
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#FF0000;
font-size:16px;
font-weight:bold;
text-decoration:underline;
}

.enlacesRapidos{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#FFFFFF;
font-weight:bold;
text-decoration:none;
}

.enlacesRapidos:hover{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#FFFF00;
font-weight:bold;
text-decoration:none
}

.barra_fecha
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:bold;
color:#FFFFFF;
}

.ItemStyle {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	vertical-align: middle;
	background-repeat: no-repeat;
	list-style-type: none;
	list-style-image: url(usm.gif);
	color: #003399;
}

.PopItemStyle {
	font-size:12px;
	vertical-align: middle;
	background-repeat: no-repeat;
	list-style-type: none;
	list-style-image: url(dsmh.gif);
	color: #003399;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

.formulario{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:smaller;
font-style:normal;
color:#333333;
}
